.content > #open-files-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    margin-bottom: 0;
}
.content > #open-files-container ul {
    visibility: visible;
    position: fixed !important;
    top: 0 !important;
    min-width: 100%;
    z-index: 17;
    background: #404040;
    height: 31px;
    padding-bottom: 0;
    box-shadow: 0 -2px 1px #333 inset;
    border-bottom: 5px solid #606060;
    white-space: nowrap;
}
.content > #open-files-container li {
    display: inline-block;
    padding: 0;
    background: transparent;
    box-shadow: 0 -2px 1px #333 inset, 1px 0 1px #444 inset;
    overflow: hidden;
    height: 31px;
}
.content > #open-files-container li:after {
	width: 10px;
	left: 100%;
	margin-left: -10px;
	position: relative;
	background: -webkit-linear-gradient(left, rgba(64,64,64,0), rgba(58,58,58,100));
	top: -31px;
	height: 30px;
	display: block;
	content: '';
}
.content > #open-files-container li:last-child:after {
	background: -webkit-linear-gradient(left, rgba(64,64,64,0), rgba(64,64,64,100));
}
.content > #open-files-container li.selected {
    background: #606060;
    box-shadow: 0 -3px 1px 2px #333;
    z-index: 2;
}
.content > #open-files-container li.selected:after {
	background: -webkit-linear-gradient(left, rgba(96,96,96,0), rgba(96,96,96,100));
	margin-left: -10px;
	z-index: 30;
}
.content > #open-files-container li:active:after {
	display: none;
}
.content > #open-files-container a {
    line-height: 31px;
    height: 31px;
    margin: 0;
    padding: 0 30px;
}
.content > #open-files-container .can-close,.content > #open-files-container .dirty {
    margin-top: 8px;
    margin-left: 8px;
}
.content > #open-files-container .sidebar-selection-triangle {
    display: none !important;
}
.content.tabs + #main-toolbar {
    z-index: 100;
}